*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#main{
    padding: 1rem;
}
.matrix{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    width: fit-content;
    /* border: 2px solid black; */
    position: relative;
}
.matrix::before{
    content: "";
    position: absolute;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 100%;
    width: 10%;
}
.matrix::after{
    content: "";
    position: absolute;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 100%;
    width: 10%;
    right: 0%;
}
.equation{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.equation>*{
    margin: 2rem;
}
p{
    margin: 1rem;
    width: 20px;
    text-align: center;
}